- result = ResultPresenter.new(@detail['testcase'])

- manual_results = result['manual_results']
- automated_results = result['automated_results']

.col-md-9
  .pull-right
    %button{type: 'button',id: 'test_runner_btn', data: {toggle: 'modal', target: '#test_runner_modal'}, class: 'btn btn-default'}
      Manual Test Runner
  .row
    .col-md-12
      - unless result.blank?
        %h4
          = result.validation_id ? "#{result.validation_id} - #{result.testcase_name}" : result.testcase_name
          = link_to '', '', class: 'fa fa-pencil small'
          %br
        %h5
          = link_to 'View Steps', '#', id: 'steps_view', class: 'small', style: 'margin-left:20px' unless result.reproduction_steps.blank?
        - unless result.reproduction_steps.blank?
          .row#steps_table{style: 'display:none'}
            = render partial: 'testcases/steps', locals: {steps: result.reproduction_steps}
        %hr
      -if result.manual_results.blank? && result.automated_results.blank?
        %h4= 'No results for this validation.'
      - if manual_results.blank?
        %button{type: 'button', data: {toggle: 'modal', target: '#manual_result_modal'}, class: 'btn btn-default pull-right default-label fa fa-plus-square small'}
          Add Manual Result
  - unless manual_results.blank?
    .row
      .col-md-12
        %button{type: 'button', data: {toggle: 'modal', target: '#manual_result_modal'}, class: 'btn btn-default pull-right default-label fa fa-plus-square small'}
          Add Manual Result
        %h4 Manual Results

        %table.table.table-condensed.table-overview

          %thead
            %tr
              %td
              %th
                Status
              %th
                Comment
              %th
                Created By
              %th
              %th
                Created
          %tbody
            - manual_results.each_with_index do |obj, i|
              - r = ResultPresenter.new(obj)
              %tr
                %td
                  = "#{i + 1}."
                %td
                  - if r.status == 'pass'
                    .success-box.text-center= "Passed"
                  - if r.status == 'fail'
                    .danger-box.text-center= "Failed"
                  - if r.status == 'skip'
                    .primary-box.text-center= "Skipped"
                  - unless r.status
                    .primary-box.text-center= "Incomplete"
                %td
                  = r['comment']
                %td
                  = r['created_by_name']
                %td
                  - if r['screenshot_id']
                    %div{class: 'link-like screenshot-link fa fa-camera-retro', data: {toggle: 'modal', target:'#screenshot_modal', image: result_screenshot_path(id: r['id'], screenshot_id: r['screenshot_id'])}}
                %td
                  .small.overview-time
                    = time_ago_in_words(r['created_at']) + ' ago' if r['created_at']
        %br
        %br

  - unless automated_results.blank?
    .row
      .col-md-12
        %h4 Automated Results
        -#- asdfasdfasdfasdf
        %table.table.table-condensed.table-overview
          %tbody
            - automated_results.each_with_index do |obj, i|
              - r = ResultPresenter.new(obj)
              %tr
                %td
                  = "#{i + 1}."
                %td
                  = display_icon_for r['environment_type']
                  = r['environment_name']
                %td{ style: 'width: 60%;'}
                  Comments:
                  %br
                  = r['comment']
                %td
                  Status:
                  %br
                  .test-result
                    = build_status r.status
                %td
                  %br
                  - if r['screenshot_id']
                    %div{class: 'link-like screenshot-link fa fa-camera-retro', data: {toggle: 'modal', target:'#screenshot_modal', image: result_screenshot_path(id: r['id'], screenshot_id: r['screenshot_id'])}}
                  - if r['stacktrace']
                    %div{class: 'link-like stacktrace-link fa fa-file-text', data: {toggle: 'modal', target:'#stacktrace_modal', text: "#{r['stacktrace']}"}}
                  %span.fa.fa-clock-o.link-icon.history-link{data: {url: result_history_path(r.id), toggle: 'modal', target: '#history_modal'}}
                  - if r['link']
                    = link_to '', r['link'], class: 'link-icon fa fa-link', target: '_blank'
                  - if r['step_log']
                    %span{class: 'link-icon link-like fa fa-cube step-log-link', data: {toggle: 'modal', target:'#step_log_modal', href: step_log_path(r['id'])}}
                %td
                  %td
                    .small.overview-time
                      = time_ago_in_words(r['created_at']) + ' ago' if r['created_at']

#history_modal.modal.fade{tabindex: '-1', role: 'dialog', style: 'margin:0 0 0 -300px'}
  .modal-dialog{role: 'document'}
    .modal-content{style:'width:1000px'}
      .modal-body
        #history_content
          .loader

#stacktrace_modal.modal.fade{tabindex: '-1', role: 'dialog', style: 'margin:0 0 0 -300px'}
  .modal-dialog{role: 'document'}
    .modal-content{style:'width:1000px'}
      .modal-body
        %pre#stacktrace_div{style: 'width:100%;white-space:pre'}

#screenshot_modal.modal.fade{tabindex: '-1', role: 'dialog', style: 'margin:0 0 0 -300px'}
  .modal-dialog{role: 'document'}
    .modal-content{style:'width:1000px'}
      .modal-body
        #screenshot_div
          = image_tag '', alt: 'Screenshot', id: 'screenshot_image'
          .loader

#step_log_modal.modal.fade{tabindex: '-1', role: 'dialog', style: 'margin:0 0 0 -300px'}
  .modal-dialog{role: 'document'}
    .modal-content{style:'width:1000px'}
      .modal-body
        #step_log_div
          .loader

#manual_result_modal.modal.fade{tabindex: '-1', role: 'dialog', style: 'margin:0 0 0 -300px'}
  .modal-dialog{role: 'document'}
    .modal-content{style:'width:1000px'}
      .modal-body
        #manual_result_modal_content
          = render partial: 'results/result_form', locals: {execution_id: result['execution_id'], testcase_id: result['validation_id'] && result['validation_id'] != '' ? result['validation_id'] : result['name']}
#test_runner_modal.modal.fade{tabindex: '-1', role: 'dialog', style: 'margin:0 0 0 -300px'}
  .modal-dialog{role: 'document'}
    .modal-content{style:'width:1000px'}
      .modal-body
        #test_runner_modal_content
          .loader
:javascript

  $('#test_runner_btn').click(function(){
    $('#test_runner_modal_content').load("#{next_test_path(result['execution_id'])}")
  })
  $('#steps_view').click(function(e){
    e.preventDefault()
    $('#steps_table').slideToggle('slow');
  });

  $('.history-link').click(function(e){
    $('#history_content').load($(this).data('url'))
  })

  $('.stacktrace-link').on('click', function(){
    $('#stacktrace_div').html($(this).data('text'));
  })

  $('.screenshot-link').on('click', function(){
    $('#screenshot_div').html("<img src='" + $(this).data('image') + "' >");
  })

  $('.step-log-link').on('click', function(e){
    $('#step_log_div').load($(this).data('href'))
  })

  $('.timeago').timeago()

