#signup.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        .modeal-title
          Password Reset
      .modal-body
        = form_tag post_reset_password_url do
          = hidden_field_tag :password_token, @token
          = hidden_field_tag :user_id, @user_id
          .form-group
            %label Password
            = password_field_tag :password, '', class: 'form-control', required: true
          .form-group
            %label Password Confirmation
            = password_field_tag  :password_confirmation, '',  class: 'form-control', required: true
          .form-group
            = submit_tag 'Reset', class: 'form-control'

:javascript
  $('#signup').modal({
    backdrop: 'static',
    keyboard: true
  });
  $('#signup').modal('show');