.dashboard-page-header
  %h4

    = "User -  #{@user.display_name}"
    - if current_user.admin
      %span.fa.fa-pencil.link-like.small{data: {toggle: 'modal', target:'#user_modal'}}


= link_to 'Send Password Reset Email', trigger_password_reset_path(@user.id), class: 'btn btn-xs btn-danger pull-right'
.col-sm-4
  .panel.panel-default
    %table.table.table-striped
      %tr
        %td
          .pull-right= gravatar_tag(@user.email, :default)
      %tr
        %td
          Username:
          .pull-right= @user.username
      %tr
        %td
          Name:
          .pull-right= @user.display_name
      %tr
        %td
          Company:
          .pull-right= @user['company']
      %tr
        %td
          Admin:
          .pull-right= @user['admin']


#user_modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ data: { dismiss: 'modal' }, aria: { label: 'Close' } }
          %span.glyphicon.glyphicon-remove{ aria: { hidden: 'true' }, style: 'top:10px' }
        %h4 Add User
      .modal-body
        #user_modal_content
          = render partial: 'user_form', locals: {user: @user}
