- keyword ||= 'All'
- runner ||= false

= form_tag( runner ? runner_result_path : results_path, method: :post, role: :form, remote: runner) do

  .form-group
    = hidden_field_tag 'result[testcase_id]', testcase_id
    = hidden_field_tag 'result[execution_id]', execution_id
    = hidden_field_tag 'result[result_type]', 'manual'
    = hidden_field_tag 'keyword', keyword

    - unless @environments.blank?
      .form-group
        = label_tag :Environment
        - if @selected
          = select_tag 'result[environment_id]', options_for_select(@environments['environments'].map{|e| [e['display_name'].blank? ? e['uuid'] : e['display_name'] , e['uuid'] ]},  @selected), class: 'env-select2'
        -else
          = select_tag 'result[environment_id]', options_for_select(@environments['environments'].map{|e| [e['display_name'].blank? ? e['uuid'] : e['display_name'] , e['uuid'] ]}), class: 'env-select2'

    %label Status
    %br
    %span{style: 'margin:15px'}
      = label_tag :Pass
      = radio_button_tag 'result[status]', 'pass'
    %span{style: 'margin:15px'}
      = label_tag :Fail
      = radio_button_tag 'result[status]', 'fail'
    %span{style: 'margin:15px'}
      = label_tag :Skip
      = radio_button_tag 'result[status]', 'skip'

  .form-group
    %label Comment
    = text_field_tag 'result[comment]', nil, class: 'form-control'

  .form-group
    = submit_tag 'Submit', class: 'btn btn-primary'

:javascript
  $('.env-select2').select2({ width: '100%'})
- puts '########################################'
- puts @execution
- puts '########################################'
- unless @execution['execution']['fast']
  :javascript

    $('#result_environment_id').on("select2:select select2:unselect", function(e){
      if($('#keyword_select').val()){
        var env_id = $(this).val()
        path = "#{next_test_path(execution_id, 'keyword[]' => '<<<KEYWORD>>>', environment: '>>>ENVIRONMENT<<<')}"
        new_path = path.replace('<<<KEYWORD>>>', encodeURIComponent($(this).val()))
        new_path = new_path.replace('>>>ENVIRONMENT<<<', encodeURIComponent(env_id))
        $('#keyword_select').select2('destroy').unbind();
        $('#test_runner_modal_content').html('<div class="loader"></div>')
        $('#test_runner_modal_content').load(new_path)
      }else{
        var env_id = $(this).val()
        path = "#{next_test_path(execution_id, environment: '>>>ENVIRONMENT<<<')}"
        new_path = path.replace('>>>ENVIRONMENT<<<', encodeURIComponent(env_id))
        $('#keyword_select').select2('destroy').unbind();
        $('#test_runner_modal_content').html('<div class="loader"></div>')
        $('#test_runner_modal_content').load(new_path)
      }
    })



