%table.table.table-hover
  - JSON.parse(@step_log).each do |step|
    - depth = 0
    %tr.depth1
      %td
        - unless step['sub_steps'].blank?
          %span.fa.fa-plus-square-o
        = step['step_name']
      %td
        = "#{step['elapsed_time'].round(2)} seconds"
      %td
        - if step['status'].downcase == 'complete'
          .fa.fa-check-circle{style: 'color:green'}
        - else
          = step['status']
    - unless step['sub_steps'].blank?
      - step['sub_steps'].each do |sub|
      - depth = 1
        %tr.depth2{style: 'display:none'}
          %td

            %span{style: "margin-left:#{depth*20}"}
              - unless sub['sub_steps'].blank?
                %span.fa.fa-plus-square-o
              = sub['step_name']
          %td
            = "#{sub['elapsed_time'].round(2)} seconds" if sub['elapsed_time'] != ''
          %td
            - if sub['status'].downcase == 'complete'
              .fa.fa-check-circle{style: 'color:green'}
            - else
              = sub['status']
        - sub['sub_steps'].each do |sub|
          - depth = 2
          %tr.depth3{style: 'display:none'}
            %td
              %span{style: "margin-left:#{depth*20}"}
                - unless sub['sub_steps'].blank?
                  %span.fa.fa-plus-square-o
                = sub['step_name']
            %td
              = "#{sub['elapsed_time'].round(2)} seconds" if sub['elapsed_time'] != ''
            %td
              - if sub['status'].downcase == 'complete'
                .fa.fa-check-circle{style: 'color:green'}
              - else
                = sub['status']
          - sub['sub_steps'].each do |sub|
            - depth = 3
            %tr.depth4{style: 'display:none'}
              %td
                %span{style: "margin-left:#{depth*20}"}
                  - unless sub['sub_steps'].blank?
                    %span.fa.fa-plus-square-o
                  = sub['step_name']
              %td
                = "#{sub['elapsed_time'].round(2)} seconds" if sub['elapsed_time'] != ''
              %td
                - if sub['status'].downcase == 'complete'
                  .fa.fa-check-circle{style: 'color:green'}
                - else
                  = sub['status']
            - sub['sub_steps'].each do |sub|
              - depth = 4
              %tr.depth5{style: 'display:none'}
                %td
                  - unless sub['sub_steps'].blank?
                    %span.fa.fa-plus-square-o
                  %span{style: "margin-left:#{depth*20}"}= sub['step_name']
                %td
                  = "#{sub['elapsed_time'].round(2)} seconds" if sub['elapsed_time'] != ''
                %td
                  - if sub['status'].downcase == 'complete'
                    .fa.fa-check-circle{style: 'color:green'}
                  - else
                    = sub['status']

:javascript
  $('.depth1').click(function(){
    $(this).next('.depth2').toggle()
    $(this).find('.fa-plus-square-o', '.fa-minus-square-0').toggleClass('fa-plus-square-o fa-minus-square-o')
  })

  $('.depth2').click(function(){
    $(this).next('.depth3').toggle()
    $(this).find('.fa-plus-square-o', '.fa-minus-square-0').toggleClass('fa-plus-square-o fa-minus-square-o')
  })

  $('.depth3').click(function(){
    $(this).next('.depth4').toggle()
    $(this).find('.fa-plus-square-o', '.fa-minus-square-0').toggleClass('fa-plus-square-o fa-minus-square-o')
  })

  $('.depth4').click(function(){
    $(this).next('.depth5').toggle()
    $(this).find('.fa-plus-square-o', '.fa-minus-square-0').toggleClass('fa-plus-square-o fa-minus-square-o')
  })
