- current_execution = nil
%table.table.table-overview.table-hover
  %thead
    %tr
      %th
      %th
        Execution
      %th
        Closed?
      %th
        Fast
      %th
        Actions

  %tbody#executions
    - executions.each_with_index do |e, i|
      - execution = ExecutionPresenter.new(e)
      %tr
        %td.table-number
          = "#{i + 1}."
        %td
          - if execution['name'].blank?
            = link_to "#{execution.created_at.strftime('%m/%d/%Y')}", execution_path(execution.id)
          - else
            = link_to execution['name'], execution_path(execution.id)
        %td
          - if execution.closed
            .small.overview-time{data: {toggle: 'tooltip', title: execution.updated_at.strftime('Closed %I:%M %p on %m/%d/%Y'), placement: 'left' }}
              Closed
              %span.timeago{title: DateTime.parse(execution['updated_at']).iso8601}
        %td
          - if execution['fast']
            .fa.fa-check

        %td
          - if !execution.closed
            - current_execution = execution
            %span.tool{data: {toggle: 'tooltip'}, title: 'Close Execution'}
              %span.fa.fa-archive.link-like{data: {toggle: 'modal', target: '#execution', execution: execution.id}}
          %span.tool{data: {toggle: 'tooltip'}, title: 'Edit'}
            %span.fa.fa-pencil.link-like.edit-execution-link.small{data: {toggle: 'modal', target:'#edit_execution', path: edit_execution_path(execution.id)}}
          - if execution.updated_at < 2.weeks.ago && current_user.admin && execution.closed
            = link_to execution_path(id: execution.id), method: :delete do
              .fa.fa-trash-o

#edit_execution.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ data: { dismiss: 'modal' }, aria: { label: 'Close' } }
          %span.glyphicon.glyphicon-remove{ aria: { hidden: 'true' }, style: 'top:10px' }
        %h4 Close Execution
      .modal-body
        #edit_execution_modal
          .loader

#execution.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ data: { dismiss: 'modal' }, aria: { label: 'Close' } }
          %span.glyphicon.glyphicon-remove{ aria: { hidden: 'true' }, style: 'top:10px' }
        %h4 Close Execution
      .modal-body
        #execution_modal
          = render partial: 'executions/execution_form', locals: {execution_id: current_execution.id}

:javascript
  $('.timeago').timeago()

  $('.edit-execution-link').click(function(){
    $('#edit_execution_modal').load($(this).data('path'))
  })
