- remove_tag = false unless defined? remove_tag
%tr
  %td.table-number
    = "#{project_counter + 1}."
  %td
    = link_to project.project_name, project_path(project.id)

  %td
    .small.overview-time.pull-right
      Updated:
      = time_ago_in_words( project.updated_at) + ' ago'
  %td
    - if current_user.admin && remove_tag
      = link_to project_path(id: project['id']), method: :delete, data: {confirm: "Are you sure?"}  do
        .pull-right.fa.fa-remove{style: 'color:red'}