= link_to ' Add Testcase', '', class: 'pull-right btn default-label fa fa-check-square-o small', data: {toggle: 'modal', target: '#new_testcase_modal'}
= link_to ' Export Testcase', export_testcase_path(project_id: @project['id']), class: 'pull-right btn default-label fa fa-check-square-o small', target: '_blank'
= link_to 'Import Testcases', testcase_import_path(project_id: @project['id']), class: 'pull-right btn default-label fa fa-check-square-o small', target: '_blank'
%table.table.table-overview.table-hover
  %thead
    %tr
      %th
        ID
      %th
        Testcase Name

      %th
        Last Updated
      %th
        Actions
  %tbody#testcases
    - testcases.each do |t|
      - testcase = TestcasePresenter.new(t)
      %tr
        %td.table-number
          = "#{t['testcase_id']}."
        %td
          = link_to testcase.testcase_name, testcase_path(testcase.id)
        %td
          = testcase.updated_at.strftime('%m/%d/%Y')
        %td
          %span.testcase-link.fa.fa-pencil.link-like.small{data: {toggle: 'modal', target: '#testcase_modal', path: edit_testcase_path(testcase.id)}}
#new_testcase_modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ data: { dismiss: 'modal' }, aria: { label: 'Close' } }
          %span.glyphicon.glyphicon-remove{ aria: { hidden: 'true' }, style: 'top:10px' }
        %h4 New Testcase
      .modal-body
        #new_testcase_modal_content
          = render partial: 'testcases/testcase_form', locals: {testcase: {}, project_id: @project['project']['id']}
:javascript
  $('.testcase-link').click(function(){
    $('#testcase_modal_content').load($(this).data('path'))
  });