- project = ProjectPresenter.new(@project['project'])
-#%h3 Project Info
-#.id= project['id']
-#.name=project['project_name']
-#.api= project['api_key']
-#
-#.testcases
-#  %h4 Testcases
-#  - project['testcases'].each do |tc|
-#    .tclink= link_to tc['testcase_name'], testcase_path(tc['id'])
-#
-#.environments
-#  %h4 Environments
-#  - project['environments'].each do |env|
-#    .envid= env['id']
-#    .envstatus= env['uuid']
-#
-#.executions
-#  %h4 Executions
-#  - project['executions'].each do |env|
-#    .envlink=link_to env['id'], execution_path(env['id'])


.dashboard-page-header
  %h2
    = project.project_name + ' Project'

.container-fluid
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3.panel-title Api Key
        .panel-body
          = project.api_key
  .row
    .col-md-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title Executions
        .panel-body
          %table.table.table-condensed.table-overview.table-hover
            %tbody#executions
              - project['executions'].reverse.each_with_index do |e, i|
                - e = ProjectPresenter.new(e)
                = render partial: 'executions/executions', locals: {execution: e, counter: i}
    .col-md-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title Add Environment
          = link_to 'All Environments', '', class: 'results-index-page', remote: true
        .panel-body
          #new-device
            = link_to 'New Environment', '', class: 'btn btn-success', remote: true
      .panel.panel-default
        .panel-heading
          %h3.panel-title Add Validations
          = link_to 'All Testcases', '', class: 'results-index-page', remote: true
        .panel-body
          #new-validations
            = link_to 'New Testcases', '', class: 'btn btn-success', remote: true

-#= render 'projects/validation_modal'

-#= render 'projects/device_modal'