- project = ProjectPresenter.new(@project['project'])

- current_execution_id = project.executions[0]['id']
- if project.executions.count > 1
  -previous_execution_id = project.executions[1]['id']
- else
  -previous_execution_id = -1


.dashboard-page-header
  %h2
    = project.project_name + ' Project'
    - if current_user['admin']
      %span.fa.fa-pencil.link-like.small{data: {toggle: 'modal', target:'#project_modal'}}


.container-fluid
  .row
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Project Information
          .pull-right.small
            API Key:
            = project.api_key

      .panel-body.execution_quickview_panel{style: 'min-height:250px'}
        .current_execution{style: 'width:50%'}
          .loader
        .previous_execution{style: 'width:50%'}
          .loader


  .row
    .col-md-12
      .panel.panel-default
        .panel-body
          %ul#project_info_tabs.nav.nav-tabs{role: 'tablist'}
            %li.active{role: 'presentation'}
              = link_to 'Executions', '#execution_tab', role: 'tab', data: {toggle: 'tab'}
            %li{role: 'presentation'}
              = link_to 'Environments', '#environment_tab', role: 'tab', data: {toggle: 'tab'}
            %li{role: 'presentation'}
              = link_to 'Testcases', '#testcase_tab', role: 'tab', data: {toggle: 'tab'}
            %li{role: 'presentation'}
              = link_to 'Reports', '#reports_tab', role: 'tab', data: {toggle: 'tab'}

          .tab-content
            #execution_tab.tab-pane.active{role: 'tabpanel'}
              = render partial: 'executions', locals: {executions: project.executions}
            #environment_tab.tab-pane{role: 'tabpanel'}
              = render partial: 'environments', locals: {environments: project.environments}
            #testcase_tab.tab-pane{role: 'tabpanel'}
              = render partial: 'testcases', locals: {testcases: project.testcases}
            #reports_tab.tab-pane{role: 'tabpanel'}
              = render partial: 'reports', locals: {project: @project['project']}


#project_modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ data: { dismiss: 'modal' }, aria: { label: 'Close' } }
          %span.glyphicon.glyphicon-remove{ aria: { hidden: 'true' }, style: 'top:10px' }
        %h4 Add Project
      .modal-body
        #project_modal_content
          = render partial: 'project_form', locals: {project: project}


#environment_modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ data: { dismiss: 'modal' }, aria: { label: 'Close' } }
          %span.glyphicon.glyphicon-remove{ aria: { hidden: 'true' }, style: 'top:10px' }
        %h4 Edit Environment
      .modal-body
        #environment_modal_content
          .loader
#testcase_modal.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ data: { dismiss: 'modal' }, aria: { label: 'Close' } }
          %span.glyphicon.glyphicon-remove{ aria: { hidden: 'true' }, style: 'top:10px' }
        %h4 Edit Testcase
      .modal-body
        #testcase_modal_content
          .loader

:javascript
  $('#project_info_tabs').tab()

  function loadPrevious(){
    $('.previous_execution').load("#{execution_project_summary_path(id: "#{previous_execution_id}", title: 'Previous Execution')}")
  }

  function loadCurrent(){
    $('.current_execution').load("#{execution_project_summary_path(id: "#{current_execution_id}", title: 'Current Execution')}")
  }

  function reloadCurrent(){
    $('.current_execution').load("#{execution_project_summary_update_path(id: "#{current_execution_id}", title: 'Current Execution')}")
  }

  loadCurrent()
  loadPrevious()

  setInterval(reloadCurrent, 30000)


