- @selected ||= []
- @keywords ||= @project['project']['keywords']

= form_tag(testcase['testcase_name'] ? testcase_path(testcase['id']) : testcases_path,
           class: 'testcase-form', method: testcase['testcase_name'] ? :put : :post,
           role: :form) do
  .form-group
    = hidden_field_tag 'testcase[project_id]', project_id
    %label Name
    = text_field_tag 'testcase[name]', testcase['testcase_name'], class: 'form-control', required: true
  .form-group
    %label Validation ID
    = text_field_tag 'testcase[validation_id]', testcase['testcase_id'], class: 'form-control', required: true
  .form-group
    = fields_for :keywords do |f|
      %label Keywords
      = select_tag 'keywords[]',  options_for_select(@keywords.map{|u| ["#{u['keyword']}", u['id']]}, @selected),
                                                     {class: 'functional select2',
                                                      style: 'width:100%',
                                                      include_blank: false,
                                                      multiple: true,
                                                      data: {placeholder: 'Select Keywords'}}


  %label Reproduction Steps
  .test-steps-container
    %span.tc1
    - if testcase['reproduction_steps']
      - testcase['reproduction_steps'].each do |step|
        = render partial: 'testcases/step_well', locals: {step_number: step['step_number'], action: step['action'], result: step['result']}
  .add-step-btn.btn.btn-success.pull-right
    %span.glyphicon.glyphicon-plus
    Add Test Step
  %br
  %br
  %br
  .form-group
    = submit_tag 'Submit', class: 'btn btn-primary'

    .pull-right= link_to 'Delete Testcase', testcase_path(testcase['id']), method: :delete, class: 'btn btn-danger' if testcase['id'] && current_user['admin']

:javascript
  $('[data-toggle="tooltip"]').tooltip()

  $('.functional.select2').select2()

  renumber_steps = function(){

    $('.testcase-step').each(function(i, step){
      $(this).find('.step_number').text(i + 1)

    })
  }

  remove_step = function(){
    this_step = $(this).closest('.testcase-step')
    this_step.remove()

    renumber_steps()
  }

  step_up = function(){

    this_step = $(this).closest('.testcase-step')
    last_step = this_step.prev('.testcase-step')

    this_clone = this_step.clone()
    last_clone = last_step.clone()

    this_step.replaceWith(last_clone)
    last_step.replaceWith(this_clone)


    $('.step-up').unbind('click').click(step_up)
    $('.step-down').unbind('click').click(step_down)
    $('.step-remove').unbind('click').click(remove_step)
    renumber_steps()
  }

  step_down = function(){

    this_step = $(this).closest('.testcase-step')
    last_step = this_step.next('.testcase-step')

    this_clone = this_step.clone()
    last_clone = last_step.clone()

    this_step.replaceWith(last_clone)
    last_step.replaceWith(this_clone)

    $('.step-up').unbind('click').click(step_up)
    $('.step-down').unbind('click').click(step_down)
    $('.step-remove').unbind('click').click(remove_step)

    renumber_steps()
  }

  $('.step-up').unbind('click').click(step_up)
  $('.step-down').unbind('click').click(step_down)
  $('.step-remove').unbind('click').click(remove_step)

  $('.testcase-form').unbind('submit').submit(function(e){

    $(this).find('.testcase-step').each(function(step){
      action = $(this).find('#reproduction_steps__step_number__action')
      action_name = action.attr('name');
      action.attr('name', action_name.replace('<step_number>', step + 1));

      result = $(this).find('#reproduction_steps__step_number__result')
      result_name = result.attr('name');
      result.attr('name', result_name.replace('<step_number>', step + 1));

    })
  })

  add_step = function(){
    form = $(this).closest('.testcase-form')
    if (form.find('.testcase-step').length == 0){
      element = form.find('.tc1:last')
    } else {

      element = form.find('.testcase-step:last')
    }

    element.after("#{j render partial: 'testcases/step_well', locals: {step_number: '', action: '', result: ''}}")

    $('.step-up').unbind('click').click(step_up)
    $('.step-down').unbind('click').click(step_down)
    $('.step-remove').unbind('click').click(remove_step)

    renumber_steps()
  }

  $('.add-step-btn').unbind('click').click(add_step)

