

= form_tag(testcase['name'] ? testcase_path(testcase['id']) : testcases_path,
           method: testcase['name'] ? :put : :post,
           role: :form) do
  .form-group
    = hidden_field_tag 'testcase[project_id]', project_id
    %label Name
    = text_field_tag 'testcase[name]', testcase['name'], class: 'form-control', required: true
  .form-group
    %label Validation ID
    = text_field_tag 'testcase[validation_id]', testcase['validation_id'], class: 'form-control', required: true

  - if testcase['name'] && testcase['reproduction_steps']
    %label Reproduction Steps

    - testcase['reproduction_steps'].each do |step|
      .well
        %label.step_number=  "Step ##{step['step_number']}"
        %br
        %label Action
        = text_field_tag "reproduction_steps[#{step['step_number']}][action]",  step['action'], class: 'form-control'
        %label Result
        = text_field_tag "reproduction_steps[#{step['step_number']}][result]",  step['result'], class: 'form-control'


  .form-group
    = submit_tag 'Submit', class: 'btn btn-primary'
    .pull-right= link_to 'Delete Testcase', testcase_path(testcase['id']), method: :delete, class: 'btn btn-danger' if testcase['name']
