- testcase = @testcase
%h3 Testcase Info
.tcid= testcase['id']
.tcname= testcase['name']
.tcvid= testcase['validation_id']
- if testcase['reproduction_steps']
  %h3 Steps
  %table
    - testcase['reproduction_steps'].each do |step|
      %tr
        %td
          = step['step_number']
        %td
          = step['action']
        %td
          = step['result']
