- testcase = @testcase
.dashboard-page-header

  .small= link_to "Back to Project", project_path(testcase['project_id']), class: 'pull-right', style: 'margin:15px'
  %h4
    = testcase['name']

    %span.testcase-link.fa.fa-pencil.link-like.small{data: {toggle: 'modal', target: '#testcase_modal', path: edit_testcase_path(testcase['id'])}}

.container-fluid


  Reproduction Steps
  .pull-right
    - if testcase['username']
      = " Version #{testcase['version']} - #{testcase['version'] == 1 ? 'Created By' : 'Updated By'} #{testcase['username']}"
    - else
      = " Version #{testcase['version']}"
  .panel.panel-default
    .panel-body
      %table.table.table-striped.table-hover.table-condensed
        %tr
          %td
          %th
            Step Action
          %th
            Expected Result
          %td
          %td
        - if testcase['reproduction_steps'].blank?
          %tr
            No Steps Defined
        -else
          - testcase['reproduction_steps'].each do |step|
            %tr
              %td
                = step['step_number']
              %td
                = step['action']
              %td
                = step['result']
              %td
#testcase_modal.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ data: { dismiss: 'modal' }, aria: { label: 'Close' } }
          %span.glyphicon.glyphicon-remove{ aria: { hidden: 'true' }, style: 'top:10px' }
        %h4 Edit Testcase
      .modal-body
        #testcase_modal_content
          .loader
- if @all_versions && @all_versions.count > 0
  .container-fluid
    %h3 Other Versions
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th
            Testcase
          %th
            Version #
          %th
            Last Action
      %tbody
        - @all_versions.each do |test|
          - last_action_by = test['username'] ? test['username'] : 'Unknown'
          %tr
            %td
              = link_to test['name'], testcase_path(id: test['id'])
            %td
              = test['version']
            %td
              = "#{test['version'] == 1 ? 'Created By' : 'Updated By'} #{last_action_by}"

:javascript
  $('.testcase-link').click(function(){
    $('#testcase_modal_content').load($(this).data('path'))
  });